@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap');


// VARIABLES
$color-dark: #000;
$color-light: #fff;
$color-grey: #fff;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #13141c;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    font-size: 1.4rem;
    text-transform: uppercase;
    border: 1px solid $color-dark;
    padding: 8px 1.6rem;
    letter-spacing: 0.5px;
    font-weight: 300;

    &:hover {
        background: $color-dark;
        color: $color-light;
        transition: all 0.2s;
    }

}

.text {
    font-size: 1.8rem;
    line-height: 140%;
    font-weight: 300;
}

.logo {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.toggle-btn {
    font-size: 2.4rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    display: none;

    @media only screen and (max-width: 768px) {
        display: block;
    }
}

.section {
    width: 100%;
    padding: 0 6rem;

    @media only screen and (max-width: 768px) {
        padding: 1.8rem;
    }
}

.section-title {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

.nav-links {
    float: right;
    display: flex;
    width: 300px;
    max-width: 300px;
    font-size: 2.4rem;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;

    @media only screen and (max-width: 992px) {
        font-size: 2.8rem;
    }
}

.navbar {
    width: 100%;
    margin-top: 4rem;
    padding: 2rem 0;
    position: sticky;
    top: 0;
    z-index: 200;

    .nav-container {
        padding: 0 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 768px) {
            padding: 2.8rem;
        }

        .nav-left {
            flex-basis: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media only screen and (max-width: 768px) {
                flex-basis: 100%;
            }
            
        }

        .nav-right {
            flex-basis: 50%;

            @media only screen and (max-width: 768px) {
                display: none;
            }
        }

    }
}

.section-hero {
    margin-top: 22rem;
    
    .hero-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 8rem;

        @media only screen and (max-width: 768px) {
            display: block;
            margin-bottom: 4rem;
        }

        h1 {
            font-size: 5.6rem;
            line-height: 1.2;
            width: 400px;

            @media only screen and (max-width: 768px) {
                margin-bottom: 8rem;
            }
        }

        p {
            font-size: 1.8rem;
        }
    }

    .hero-img {
        display: block;
    }

    .hero-sub {
        width: 50%;
        margin: 8rem 0;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }
        
        p {
            margin-bottom: 4rem;
        }
    }
}
